.woocommerce-remove-coupon {
  display: none !important;
}

.reward-section {
  border: 2px solid rgba(0, 0, 0, 0.514) !important;
  padding: 20px !important;
}

.button-custom {
  background-color: #28303d !important;
  color: white;

  text-decoration: none !important;
  font-size: 19px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 20px;
}

.button-custom:hover {
  background-color: #28303da8 !important;
  color: white;

  text-decoration: none !important;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 20px;
}

.actions {
  display: none !important;
}
